{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"
                             :scope "provided"}
        org.clojure/clojurescript {:mvn/version "1.9.946"
                                   :scope "test"}
        tag-soup {:mvn/version "1.5.2"}
        org.clojars.oakes/parinfer {:mvn/version "0.4.0"}
        cljsjs/parinfer {:mvn/version "1.8.1-0"}}}
